<!DOCTYPE html>
<html>
<head>
    <title>JeWish-Tale</title>
    <!-- W3Schools CSS styling -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        /* Custom CSS */
        .container {
            margin-top: 50px;
            text-align: center;
        }
        .token {
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="w3-container container">
        <h1>{{ message }}</h1>
        </div>
    </div>
</body>
</html>
